h1 Register

form(action="/account/register", method="POST")
  label Name
  input(type="text", name="username")
  br
  label Email
  input(type="email", name="email")
  br
  label Password
  input(type="password", name="password")
  br
  label Avatar (optional)
  input(type="text", name="avatar")
  br
  
  button Register   